.tracking_result{
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
}
.generate_form{
    margin-bottom: 5rem;
}
.new_tracking_no{
    color: green
}