.track{
    padding-top: 5% ;
    padding-bottom: 10%;
    padding-right: 10%;
    padding-left: 10%;
}
.track h3{
    font-weight: 900;
    font-size: 2rem;
    padding-bottom: 10vh;
    text-decoration: underline;
}
.track h5{
  text-align: center;
  margin-bottom: 10vh;
}
.track form{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.track form button{
    margin-right: 20vw;
    border: none;
    background-color: #6e8197;
    color: white;
}

@media (max-width: 500px) {
    .track form button{
        margin-right: 0;
    }
    .track{
        margin-top: 6vh;
        margin-bottom: 10vh
    }.track h3{
        padding-bottom: 5vh;
    }
    .track h5{
        margin-bottom: 5vh;
    }
}