
.form{
    margin-top: 5vh;
    margin-left: 10vw;
    margin-bottom: 10vw;
}
.form h3{
    text-decoration: underline;
    margin-bottom: 3vh ;
    font-weight: 900;
    font-size: 2rem
}
.contact input,.contact textarea{
    width: 30em;
    background-color:#1111;
    margin-bottom: 1em  ;
    border: 2px solid  #252b33;
color: #111;
}

.contact input:active{
    color: white;
}

.contact .contact textarea{
    height: 7em;
}
.contact form input ,.contact textarea, button{
    border-radius: .5em;
}
.label input{
  width: .5rem;
  margin-right: 1rem;    
}
form button{
    background-color: #252b33;
    color: white;
    border:none;
}
@media(max-width: 800px){
    .contact input,.contact textarea{
        width: 70vw;
    }
}

@media(max-width: 400px){
    .contact input,.contact textarea{
        width: 90vw;
    }
}